<footer>
  <div class="container">
    <%= image_tag "logo.png" %>
    <div class="row">
      <div class="col col-md-4">
        <h3>Contact</h3>
        <ul>
          <li>List 1</li>
          <li>List 2</li>
          <li>List 3</li>
          <li>List 4</li>
        </ul>
      </div>
      <div class="col col-md-4">
        <h3>About</h3>
        <ul>
          <li>List 1</li>
          <li>List 2</li>
          <li>List 3</li>
          <li>List 4</li>
        </ul>
      </div>
      <div class="col col-md-4">
        <h3>Social</h3>
        <ul>
          <li>List 1</li>
          <li>List 2</li>
          <li>List 3</li>
          <li>List 4</li>
        </ul>
      </div>
    </div> <!-- end row -->
    <hr>
    <p> 2017 Umbrella Corporation Technologies</p>
  </div> <!-- end container -->
</footer>
