<div class="jumbotron">
  <div class="container">
    <div class="center">
      <h1>Time to try something new?</h1>
      <h3>Join us at ....</h3>
      <a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a>
    </div>
  </div>
</div> <!-- end jumbo -->
