<div class="jumbotron">
  <div class="container">
    <div class="center">
      <h1>Time to try something new?</h1>
      <h3>Join us at ....</h3>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Sign up</a>
    </div>
  </div>
</div> <!-- end jumbo -->
